node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
.env
.nyc_output
coverage
vendor
bootstrap/cache
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
public/storage
